<!DOCTYPE html>
<html>
<head>
    <title>Email Verification Success</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h1 class="text-success">Email Verification Successful</h1>
                <p class="mt-4">Congratulations! Your email has been successfully verified.</p>
                <p>You can now access all the features of ticketswap.</p>
                <p>Please close this page and return to the website to login.</p>
                <!-- <a href="/" class="btn btn-primary mt-4">Go to Homepage</a> -->
            </div>
        </div>
    </div>
</body>
</html>