<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} | Tickets </title>
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'tickets:homepage' %}" > Home</a> | 
                <a href="{% url 'tickets:seller' %}" > Sell</a> | 
                <a href="{% url 'tickets:buyer' %}" > Buy</a> | 
            </nav>
        </header>
        {% block main %}{% endblock %}
    </body>
</html>